-- CreateEnum
CREATE TYPE "Role" AS ENUM ('SUPER_ADMIN', 'COUPLE', 'FAMILY_MEMBER', 'GUEST', 'MODERATOR');

-- CreateEnum
CREATE TYPE "KinshipRank" AS ENUM ('ATA_ANA', 'ZHIEN_ZHARAP', 'SHAKYRT');

-- CreateEnum
CREATE TYPE "PoolStatus" AS ENUM ('PENDING', 'FUNDING', 'FUNDED', 'PURCHASED', 'DELIVERED');

-- CreateEnum
CREATE TYPE "ContributionStatus" AS ENUM ('PENDING', 'COMPLETED', 'FAILED', 'REFUNDED');

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "hashed_password" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "full_name" TEXT NOT NULL,
    "is_blocked" BOOLEAN NOT NULL DEFAULT false,
    "email_verified" BOOLEAN NOT NULL DEFAULT false,
    "verification_code" TEXT,
    "reset_token" TEXT,
    "reset_token_exp" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "weddings" (
    "id" SERIAL NOT NULL,
    "couple_id" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "location" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "weddings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "family_trees" (
    "id" SERIAL NOT NULL,
    "wedding_id" INTEGER NOT NULL,
    "member_id" INTEGER NOT NULL,
    "ancestor_id" INTEGER,
    "kinship_rank" "KinshipRank" NOT NULL,
    "custom_distance" INTEGER,
    "gift_obligation" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "family_trees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "gift_pools" (
    "id" SERIAL NOT NULL,
    "wedding_id" INTEGER NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "target_kzt" INTEGER NOT NULL,
    "remaining_target" INTEGER NOT NULL,
    "total_funded" INTEGER NOT NULL DEFAULT 0,
    "family_only" BOOLEAN NOT NULL DEFAULT false,
    "status" "PoolStatus" NOT NULL DEFAULT 'PENDING',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "gift_pools_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contributions" (
    "id" SERIAL NOT NULL,
    "guest_id" INTEGER NOT NULL,
    "pool_id" INTEGER NOT NULL,
    "amount_kzt" INTEGER NOT NULL,
    "original_amount" DOUBLE PRECISION NOT NULL,
    "original_currency" TEXT NOT NULL,
    "exchange_rate" DOUBLE PRECISION NOT NULL,
    "locked_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" "ContributionStatus" NOT NULL DEFAULT 'PENDING',
    "payment_intent_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "contributions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exchange_rates" (
    "id" SERIAL NOT NULL,
    "currency_from" TEXT NOT NULL,
    "currency_to" TEXT NOT NULL,
    "rate" DOUBLE PRECISION NOT NULL,
    "valid_from" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "valid_until" TIMESTAMP(3),
    "source" TEXT NOT NULL DEFAULT 'manual',

    CONSTRAINT "exchange_rates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "action" TEXT NOT NULL,
    "entity_type" TEXT NOT NULL,
    "entity_id" INTEGER NOT NULL,
    "old_value" JSONB,
    "new_value" JSONB,
    "ip_address" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "weddings_couple_id_idx" ON "weddings"("couple_id");

-- CreateIndex
CREATE INDEX "family_trees_wedding_id_kinship_rank_idx" ON "family_trees"("wedding_id", "kinship_rank");

-- CreateIndex
CREATE INDEX "family_trees_wedding_id_ancestor_id_idx" ON "family_trees"("wedding_id", "ancestor_id");

-- CreateIndex
CREATE UNIQUE INDEX "family_trees_wedding_id_member_id_key" ON "family_trees"("wedding_id", "member_id");

-- CreateIndex
CREATE INDEX "gift_pools_wedding_id_status_idx" ON "gift_pools"("wedding_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "contributions_payment_intent_id_key" ON "contributions"("payment_intent_id");

-- CreateIndex
CREATE INDEX "contributions_pool_id_status_idx" ON "contributions"("pool_id", "status");

-- CreateIndex
CREATE INDEX "contributions_guest_id_idx" ON "contributions"("guest_id");

-- CreateIndex
CREATE UNIQUE INDEX "exchange_rates_currency_from_valid_from_key" ON "exchange_rates"("currency_from", "valid_from");

-- CreateIndex
CREATE INDEX "audit_logs_user_id_created_at_idx" ON "audit_logs"("user_id", "created_at");

-- CreateIndex
CREATE INDEX "audit_logs_entity_type_entity_id_idx" ON "audit_logs"("entity_type", "entity_id");

-- AddForeignKey
ALTER TABLE "weddings" ADD CONSTRAINT "weddings_couple_id_fkey" FOREIGN KEY ("couple_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "family_trees" ADD CONSTRAINT "family_trees_wedding_id_fkey" FOREIGN KEY ("wedding_id") REFERENCES "weddings"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "family_trees" ADD CONSTRAINT "family_trees_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "family_trees" ADD CONSTRAINT "family_trees_ancestor_id_fkey" FOREIGN KEY ("ancestor_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "gift_pools" ADD CONSTRAINT "gift_pools_wedding_id_fkey" FOREIGN KEY ("wedding_id") REFERENCES "weddings"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contributions" ADD CONSTRAINT "contributions_guest_id_fkey" FOREIGN KEY ("guest_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contributions" ADD CONSTRAINT "contributions_pool_id_fkey" FOREIGN KEY ("pool_id") REFERENCES "gift_pools"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

